{% extends "::base.html.twig" %}

{% block title %}AppBundle:ModifyPlanets:getDataFromPlanets{% endblock %}

{% block body %}
<h1>Welcome to the ModifyPlanets:getDataFromPlanets page</h1>
{% endblock %}
