{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cere</h1>

    <table>
        <tbody>
            <tr>
                <th>Longt</th>
                <td>{{ cere.longt }}</td>
            </tr>
            <tr>
                <th>Distau</th>
                <td>{{ cere.distau }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ cere.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ceres_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
