<!DOCTYPE html>
<html lang="en">
<title>Planetarium geocentryczne w Symfony</title>
<link rel="stylesheet" href="{{asset('css/style.css')}}">
<script type="text/javascript" src="{{asset('https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')}}"></script>
{% block javascripts %}
    <script type="text/javascript" src="{{asset('js/main.js')}}"></script>
{% endblock %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="init()">
<table>
    <td>
<canvas id="canvas" width="600" height="600"></canvas>
</td>
<td>
    <!--<canvas id="canvas2" width="600" height="600"></canvas>-->
    </td>
</table>
<input type="range" min="1" max="360" value="180"
class="slider" onchange="modifDraw()" id="range"/><br>
<input type="button" id="interval" onclick="myInterval()" value="Włącz obroty">
<input type="button" id="to_base" onclick="drawPlanetsDate()" value="Podaj datę:">
<input type="text" id="put_date"></input>
<p id="current_date"></p>

</body>
</html>    